# .NET Core/.NET build artifacts
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
orleans.codegen.cs
*.dll
*.exe
*.pdb
*.cache
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
**/.toolstarget
.vscode/
*.vsix

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target
!**/packages/build/
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# React/Node.js
# dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# testing
**/coverage/

# production
**/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
**/.idea/
**/.project
**/.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace

# Environment variables
.env

# dotnet local files
.local-chromium/

# Application Insights
**/ApplicationInsightsAgent/

# User-specific files
*.rsuser

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~